body { 
	margin: 0px;
	color: gray; 
	font-family: sans-serif;
	background-image: url(../img/bg.png);
	overflow: hidden;
}

#Loading{
	background:url('http://jok.ge/images/shared/joklogo.png') top left no-repeat;
	text-align:center;
	color:silver;
	top:50%;
	margin-top:-75px;
	position:absolute;
	width:100px;left:50%;
	font-weight:bold;
	padding-top:90px;
	padding-left:6px;
	margin-left:-50px;
	z-index: 1;
	display: none;
}

.jokge {
	cursor: pointer!important;
}

div.title {
	margin-top: 50px;
	margin-bottom: 15px;
}

div.shipcolors div {
	border: 1px solid silver;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	float: right;
	cursor: pointer;
	margin-left: 8px;
	opacity: .3;
}
div.shipcolors div:hover,
div.shipcolors div.active {
	opacity: 1;
}

button.play {
	width: 160px!important;
	margin-top: 10px!important;
	font-size: 14px!important;
	font-weight: normal!important;
	padding: 8px!important;
	display: none;
}

div.vip_only {
	display: none;
	color: red;
	font-weight: bold;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	font-size: 14px;
	top: 59px;
	text-shadow: 0px 0px 2px black;
}

#haf .idle {
	color: yellow;
	opacity: 0.9;
	font-size: 300%;
}

.nick {
	font-size: 20px;
	text-align: center;
	margin-right: 60px;
	color: #55B919;
}

#haf .map {
	opacity: 0.75;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-color: white;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
	border-radius: 4px 0px 0px 0px;
}

#haf .score {
	white-space: pre;
	font-family: monospace;
	color: #ccc;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 120%;
	line-height: 150%;
}

#setup {
	width: 600px;
	margin: auto;
	text-align: center;
}

#setup label {
	margin-left: 1em;
}

#setup button {
	margin: 0px;
	padding: 1em;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.31);
	background-color: #ccc;
}

#setup .button-set {
	margin: 1em 0em;
}

#setup .button-set button img {
	width: 64px; 
	height: 64px; 
}

/*#setup .button-set button {
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}*/

#setup .button-set button {
	position: relative;
}

#setup .button-set button.active {
	background-color: rgba(55, 136, 6, 0.49);
	color: #F2FFF2;
	cursor: default;
	box-shadow: inset 0px 0px 3px 3px rgba(42, 88, 15, 0.59);
}

#setup .button-set button.disabled {
	background-color: rgba(121, 121, 121, 0.49);
	color: #F2FFF2;
	cursor: default;
	box-shadow: inset 0px 0px 3px 3px rgba(141, 141, 141, 0.59);
}

#setup .button-set button.disabled img {
	opacity: 1;
}


#setup .button-set button:first-child {
	border-radius: 20px 0px 0px 20px;
}

#setup .button-set button:last-child {
	border-right-width: 1px;
	border-radius: 0px 20px 20px 0px;
}

#setup button {
	width: 180px;
	cursor: pointer;
}

#setup button:hover {
	box-shadow: inset 0px 0px 3px 3px rgba(42, 88, 15, 0.3);
}

#setup button img {
	display: block;
	margin: auto;
}

#setup button.play {
	font-weight: bold;
	font-size: 150%;
}

canvas.bg, canvas.ships {
	left: 0px;
}